Repository dsrice/fs-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: select, expression, core

.github/labeler.yml:

select:
  - select.go
expression:
  - expression.go
core:
  - .github/**/*

Refactor and document Expression functions
  expression.go
Labels: expression

Add Neq function and update golangci config
  .golangci.yaml
  expression.go
Labels: expression

Add 'Gt' function to create Expression
  expression.go
Labels: expression

Add Gte function to expression.go
  expression.go
Labels: expression

Add 'Lt' function to handle string and int comparisons
  expression.go
Labels: expression

Add 'Lte' function to handle string and int comparisons
  expression.go
Labels: expression

Add 'Like' function for string comparisons
  expression.go
Labels: expression

Add 'NLike' function for string comparisons
  expression.go
Labels: expression

Refactor condition creation in expression functions
  .golangci.yaml
  expression.go
Labels: expression

Add unit tests for expression functions in fsb package
  expression_test.go
Labels: none

Add Npm function and corresponding unit tests
  expression.go
  expression_test.go
Labels: expression

Update fsb expressions and refactor test suite
  expression.go
  expression_test.go
Labels: expression

Refactor fsb methods and update corresponding tests
  expression.go
  expression_test.go
Labels: expression

Add toSqlLikeSuffixPattern function in expression.go
  expression.go
Labels: expression

Update expression.go and add new tests in expression_test.go
  expression.go
  expression_test.go
Labels: expression

Add Between function and corresponding unit tests
  .golangci.yaml
  expression.go
  expression_test.go
Labels: expression

Add Nbetween function and corresponding tests
  .golangci.yaml
  expression.go
  expression_test.go
Labels: expression

Add 'In' function and related tests in ExpressionSuite
  expression.go
  expression_test.go
Labels: expression

Implement 'Nin' function and expand ExpressionSuite tests
  expression.go
  expression_test.go
Labels: expression

Add IS/IS NOT TRUE/FALSE/NULL conditions and corresponding tests
  expression.go
  expression_test.go
Labels: expression

Refactor expression processing into sqlInPattern function
  expression.go
Labels: expression

Implement PR branch labeler workflow
  .github/pr-branch-labeler.yaml
  .github/workflows/pr-branch-labeler.yml
Labels: core
