Repository dsrice/fs-builder, changes with the labels that .github/labeler.yml gives for each.
All labels: select, core

.github/labeler.yml:

select:
  - select.go
core:
  - .github/**/*

update: Eqメソッドにgodoc追記
  expression.go
Labels: none

update: godoc追加とローカル環境でのgolangci-lint稼働の修正
  go.mod
  select.go
  table.go
Labels: select

update: 複数条件の時に取りまわせるよう修正
  expression.go
  select_test.go
Labels: none

update: Linterのfixを実行
  expression.go
  select.go
  select_test.go
  table.go
Labels: select

change: ブランチ名からラベル付与のgithub actionを修正
  .github/workflows/pr-branch-labeler.yml
Labels: core

delete: github action見直しに伴う不要ファイル削除
  .github/pr-branch-labeler.yml
Labels: core
